<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>
  <style>
  body {
    background-image: url(https://cdn.shopify.com/s/files/1/0065/4917/6438/products/a-very-happy-woman-celebrating-a-victory-and-a-psychedelic-sash-blast-background_1200x1200.jpg?v=1535684887)
  }
  h1{
    text-align: center;
    color: lightgreen;
    font-size: 50px
  }
  p.one{
    text-align: center;
  }
  h2 {
    text-align: center;
    font-size: 50px;
  }
  </style>
  <body>
    <h1>These are your Pig Latin words!</h1>
    <p class=one>
    <img src="https://images-na.ssl-images-amazon.com/images/I/61q9XfIJa5L._AC_SX522_.jpg"></p>

    <h2><%=@user_phrase%></h2>

  </body>
</html>
